<div class="chat-messages-container">
  <div class="px-3 w-100 chat-messages">
    <div class="messages-container">
      <div *ngFor="let message of messagesList$ | async" class="message-container">
        <div *ngIf="!message.showAvatar && message.uid !== 'currentUserUID'" class="other-user-message">
          <div *ngIf="!message.showAvatar && message.showTimestamp" class="timestamp">{{ message.timestamp | date: 'shortTime' }}</div>
          <div class="message-content">
            <div class="message-text">{{ message.message }}</div>
          </div>
        </div>
        <div *ngIf="!message.showAvatar && message.uid === 'currentUserUID'" class="my-message">
          <div *ngIf="!message.showAvatar && message.showTimestamp" class="timestamp">{{ message.timestamp | date: 'shortTime' }}</div>
          <div class="message-content">
            <div class="message-text">{{ message.message }}</div>
          </div>
        </div>
        <div *ngIf="message.showAvatar" class="message-with-avatar">
          <div class="avatar-container">
            <img src="{{ message.photoURL }}" width="30" height="30" class="avatar" alt="" *ngIf="message.photoURL !== null">
            <fa-icon [icon]="faUser" class="avatar" *ngIf="message.photoURL === null"></fa-icon>
          </div>
          <div class="message-content">
            <div class = "message-header">
              <div class="username">{{ message.displayName }}</div>
              <div class="timestamp">{{ message.timestamp | timestampFormat }}</div>
            </div>
            <div class="message-text">{{ message.message }}</div>
          </div>
        </div>

        <div class="message-actions">
          <div class="dropdown" ngbDropdown>
            <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="messageActionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="messageActionsDropdown">
              <button class="dropdown-item" type="button" *ngIf="message.uid === currentUserUID">Edit</button>
              <button class="dropdown-item" type="button" *ngIf="message.uid === currentUserUID">Delete</button>
              <button class="dropdown-item" type="button">Reply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="input-container">
  <form (ngSubmit)="sendMessage(form)" class="input-group" #form="ngForm" id="form">
    <input type="text" [(ngModel)]="newMessage" name="newMessage" class="form-control text-white new-message-input" placeholder="Type your message here..." required />
    <fa-icon [icon]="faPaperPlane" class="send-message-icon" (click)="sendMessage(form)"></fa-icon>
  </form>
</div>

